<div class="sidebar-sticky">
	<ul class="nav flex-column">
		<li class="nav-item"><a class="nav-link active"
			href="/dinosaur/main"> <span data-feather="home"></span> Dino
				Dashboard <span class="sr-only">(current)</span>
		</a></li>
		<li class="nav-item"><a class="nav-link" href="/dinosaur/crud/listing"> <span
				data-feather="layers"></span> Dino Lab
		</a></li>
		<li class="nav-item"><a class="nav-link" href="/toys"> <span
				data-feather="file"></span> Dino Toys
		</a></li>
		<li class="nav-item"><a class="nav-link" href="/videos/main"> <span
				data-feather="shopping-cart"></span> Dino Videos
		</a></li>
		<li class="nav-item"><a class="nav-link" href="/users"> <span
				data-feather="users"></span> Dino Users
		</a></li>
		<li class="nav-item"><a class="nav-link" href="/reports"> <span
				data-feather="bar-chart-2"></span> Dino Reports
		</a></li>
		<li class="nav-item"><a class="nav-link" href="/puzzles"> <span
				data-feather="layers"></span> Dino Puzzles
		</a></li>
	</ul>
</div>